development:
  :linkedin_api_key: key
  :linkedin_secret_key: secret
  :twitter_api_key: key
  :twitter_secret_key: secret

test:
  :linkedin_api_key: key
  :linkedin_secret_key: secret
  :twitter_api_key: key
  :twitter_secret_key: secret

production:
  :linkedin_api_key: key
  :linkedin_secret_key: secret
  :twitter_api_key: key
  :twitter_secret_key: secret
